<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" type="text/css"
      href="{% static 'css/main.css' %}">



<div class="topnav">
  <a  href="/">Home</a>
  <a  href="meme">Meme</a>
  <a href="story">Copypasta</a>
  <a class="active"  href="art">Art</a>
</div>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<br>


<b class="center" id="check"></b>
<ul>
    {% autoescape off %}
    {{ art }}
 {% endautoescape %}

</ul>
    <div class="loader" id ="showScroll"></div>
    <button onClick="window.location.reload();">Load More</button>
<br>
<br>
<br>
<script>
window.onscroll = function(ev) {
    if ((window.innerHeight + window.scrollY)  >= document.body.offsetHeight) {
        // you're at the bottom of the page
        document.getElementById('showScroll').innerHTML;

        window.scrollTo(0,document.body.scrollHeight);
        setTimeout(function (){location.reload()},200);
    }
};
</script>

</body>
</html>