<!DOCTYPE html>
<html lang="en">
<title>Art Infinite Scroll</title>
{% load static %}
<link rel="stylesheet" type="text/css"
      href="{% static 'css/main.css' %}">



<div class="topnav">
    <li>
        <a  href="/">Home</a></li>
      <li>  <a  href="meme">Meme</a></li>
        <li><a href="story">Copypasta</a></li>
        <li><a class="active"  href="art">Art</a></li>

        </ul>
</div>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<br>
<! --I know I should have used CSS instead of  breaks to lower the form and images I'm sorry at least we got to have this fun conversation though right?-->
<br>
<br>
<br>
<br>
<br>
<br>
<h3> Enjoy the infinite scroll of art!</h3>
<br>

<form class="button" method='get' action='#'>
    <input type="submit" value="Bored? Click to clear cache" name="Bored? Click to clear cache"/>
</form>


<b class="center" id="check"></b>
<ul>
    {% autoescape off %}
    {{ art }}
 {% endautoescape %}

</ul>
    <div class="loader" id ="showScroll"></div>
    <button onClick="window.location.reload();">Load More</button>
<br>
<br>
<br>
<script>
window.onscroll = function(ev) {
    if ((window.innerHeight + window.scrollY)+350  >= document.body.offsetHeight) {
        // you're at the bottom of the page
        document.getElementById('showScroll').innerHTML;
        window.history.pushState({}, document.title, "/" + "art");
        location.reload()
    }
};
</script>

</body>
</html>