<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matplotlib</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css"
      href="{% static 'css/main.css' %}">


<body>

</body>


<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="meme">Meme</a>
  <a href="story"> Copypasta</a>
  <a href="art">Art</a>
</div>

<br>
<br>
<br>
<br>
<div>
<form action="add" >
    <label for="crypto">Choose the Crypto:</label>
    <input id="crypto" type = "text" name="crypto">
 <label for="rolling average">Choose rolling average (Only for rolling average option):</label>
    <input id="rolling average" type = "text" name="rolling average">
    <br>
      <br>
    <label for="back">Choose the background:</label>
  <select id="back" name="back">
    <option value="dark_background">dark_background</option>
    <option value="Solarize_Light2">Solarize_Light2</option>
    <option value="bmh">bmh</option>
      <option value="classic">classic</option>
       <option value="grayscale">grayscale</option>
  </select>


    <br>
      <br>
      <input type="radio"   id="default" name="chart" value="default">
  <label for="default">default</label><br>
  <input type="radio" id="Moving Average" name="chart" value="Moving Average">
  <label for="Moving Average">Moving Average</label>
        <input type = "submit">
</form>


</div>
</html>