<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css"
      href="{% static 'css/main.css' %}">
<style>


</style>


<div class="topnav">
  <a  href="/">Home</a>
  <a class="active" href="meme">Meme</a>
  <a href="story">Copypasta</a>
  <a href="art"> Art</a>
</div>
<div class="main">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
</div>
<body>
<br>
<br>
<br>


<ul>
    {% autoescape off %}
    {{ memes }}
 {% endautoescape %}

</ul>
    <div class="loader" id ="showScroll"></div>
    <button onClick="window.location.reload();">Load More</button>
<br>
<br>
<br>
<script>
window.onscroll = function(ev) {
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
        // you're at the bottom of the page
        document.getElementById('showScroll').innerHTML;

        window.scrollTo(0,document.body.scrollHeight);
        setTimeout(function (){location.reload()},1000);
    }
};

</script>
</body>
</html>