<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css"
      href="{% static 'css/main.css' %}">


<div class="topnav">
  <a href="/">Home</a>
  <a href="meme">Meme</a>
  <a class="active" href="story">Copypasta</a>
  <a href="art">Art</a>
</div>
<br>
<br>
<! --I know I should have used CSS instead of 5 breaks to lower the form and text I'm sorry at least we got to have this fun conversation though right?-->
<br>
<br>
<br>
<form method='get' action='#'>
    <input type="submit" value="Bored? Click to clear cache" name="Bored? Click to clear cache"/>
</form>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
 {% autoescape off %}
    {{ story }}
 {% endautoescape %}
    </ul>
    <div class="loader" id ="showScroll"></div>
    <button onClick="window.location.reload();">Load More</button>


<script>
window.onscroll = function(ev) {
    if ((window.innerHeight + window.scrollY ) >= document.body.offsetHeight) {
        // you're at the bottom of the page
        document.getElementById('showScroll').innerHTML;

        window.scrollTo(0,document.body.scrollHeight);
        setTimeout(function (){location.reload()},200);
    }
};
</script>
</body>
</html>